<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Ask Calvin</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-12 col-md-10 col-xl-8 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight justify-content-center">
                <div class="img_cont">
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <img src="../static/img/mru_icon.svg" />
                </div>
              </div>
            </div>
            <div id="messageFormeight" class="card-body msg_card_body">
              <h1 class="welcomeMsg" id="welcomeMessage">
                Hello, I am
                <span class="calvinStr">Calvin</span>. <br />How can I help
                <br />you today?
              </h1>
              <!-- Rest of your messages will be appended here -->
            </div>
            <!-- <div class="card-footer"> -->
            <div id="messageArea" class="input-group">
              <!-- <input class="input-bar" type="text" name="" id="text"> -->
              <textarea
                class="input-bar"
                id="text"
                rows="1"
                placeholder="     Ask me your questions about MRU ..."
              ></textarea>
              <button class="submit-btn" id="send">
                <img src="../static/img/Vector.png" alt="" />
              </button>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        const textArea = $("#text");
        const messageContainer = $("#messageFormeight");

        // Function to resize the message container based on its content
        function resizeMessageContainer() {
          messageContainer.css("height", "auto"); // Reset the height to auto
          messageContainer.css(
            "height",
            messageContainer[0].scrollHeight + "px"
          ); // Set the height to fit the content
        }
        // Function to resize the textarea based on its content
        function resizeTextarea() {
          textArea.css("height", "auto"); // Reset the height to auto
          textArea.css("height", textArea[0].scrollHeight + "px"); // Set the height to fit the content
        }
        // Function to append a message to the container and trigger resizing
        function appendMessage(html) {
          messageContainer.append(html);
          resizeMessageContainer(); // Resize the message container after appending
        }

        // Bind the textarea to the input event to trigger resizing
        textArea.on("input", resizeTextarea);

        // Bind the textarea to the keydown event to submit the form when the user hits enter
        textArea.on("keydown", function (event) {
          if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault(); // Prevent adding a new line to the text area
            $("#send").click(); // Trigger a click event on the send button
          }
        });

        $("#send").on("click", function (event) {
          const date = new Date();
          const hour = date.getHours();
          const minute = date.getMinutes();
          const str_time = hour + ":" + minute;
          var rawText = $("#text").val();

          var userHtml =
            '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' +
            rawText.replace(new RegExp('.{1,' + Math.floor(window.innerWidth / 40) + '}', 'g'), "$&\n") +
            '<span class="msg_time_send">' +
            str_time +
            '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';

          textArea.val(""); // Clear the textarea
          resizeTextarea(); // Resize the textarea after clearing the content
          appendMessage(userHtml);

          // Scroll to the bottom of the chat box
          var messageFormeight = document.getElementById("messageFormeight");
          messageFormeight.scrollTop = messageFormeight.scrollHeight;

          $.ajax({
            data: {
              msg: rawText,
            },
            type: "POST",
            url: "/get",
          }).done(function (data) {
			var botHtml =
              '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="../static/img/cougar_icon.svg" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' +
              data.replace(new RegExp('.{1,' + Math.floor(window.innerWidth / 40) + '}', 'g'), "$&\n") +
              '<span class="msg_time">' +
              str_time +
              "</span></div></div>";

            appendMessage($.parseHTML(botHtml)); // Append bot response and trigger resizing
            messageFormeight.scrollTop = messageFormeight.scrollHeight;
          });
        });
      });
    </script>
  </body>
</html>
